.detail{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.imgcards >div img{
width: 100px;
border: 1px solid white;
margin-bottom: 50px;
padding: 10px;
}
.mainimg img{
width: 500px;
height: 600px;
}

.saveamt{
    color: green;
}
.tick{
    background-color: green;
    color: white;
    border: none;
   margin-left: 180px;
}
.pay{
  width: 220px;
padding: 10px;
  border: 1px solid white;
}